PORT=3001
GMAIL_USER=votre_email@gmail.com
GMAIL_APP_PASSWORD=votre_mot_de_passe_d_application
NOTIFICATION_TEST_EMAIL=destinataire_test@gmail.com
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/tamcp
